{% if field.security is empty or authorize(array(field.security)) %}

    {% if field.title or field.underline %}
    <h1 {% if not field.underline %}class="no_underline"{% endif %}>{% if grav.twig.twig.filters['tu'] is defined %}{{ field.title|tu }}{% else %}{{ field.title|t }}{% endif %}</h1>
    {% endif %}

    {% set context = admin.page(true) %}
    <div class="tweetcontainer"><div class="tweet-card"> <div class="tweethead"> <img src="https://pbs.twimg.com/profile_images/1980294624/DJT_Headshot_V2_400x400.jpg" width="50" height="50" class="twitterimg"> <span class="twitterusername">Donald J. Trump <br><span class="twitternick">@realDonaldTrump</span></span> </div><blockquote class="twitter-tweet"> <p class="twittcontent"> This website is great, and trust me, I know websites. Not any other website is better, believe me. Mark my words. It is great. </p><div class="SummaryCardContainer"> <div class="SummaryCard"> <img src="https://www.paulmassendari.com/images/b/e/d/9/c/bed9c551d2ecd400eccc19fe8c4e1d2388f1f802-schreyer1604374.jpeg" width="100%"> <div class="cardtext"> <h2 class="cardtitle" id="titletwtarget">
         {% if context.header.twittertitle is not empty %}{{ context.header.twittertitle }}{% else %} {% if config.plugins['grav-seo'].site_title %}{{config.plugins['grav-seo'].site_title}}{% else %}{{ site.title }}{% endif %}{% endif %}
        </h2> <p style="padding:0px;" id="twittdesc">Dernière agence artistique dans le paysage musical français, l Agence Artistique Paul Massendari représente des instrumentistes, ensembles et chefs, et en particulier la nouvelle génération de musiciens</p><span class="sitename">paulmassendari.com</span> </div></div></div></blockquote> <span class="iconcontainer"> <i class="fa fa-reply twittericon"></i> <i class="fa fa-heart twittericon"></i><i class="fa fa-retweet twittericon"></i></span></div></div><style>.tweet-card{min-height:180px;width:31%;min-width:500px}.SummaryCardContainer{border:1px solid #e1e8ed;border-radius:8px;width:95%}blockquote{font-size:17.5px; border-left:0px!important;}.tweet-card{padding:0 0 6px;margin: auto;background:#fff;border:1px solid #e1e8ed;border-radius:5px}.cardtext{padding:1em;font-family:arial}.cardtitle{margin:0 0 .15em;font-size:1em;font-weight:700}.sitename{color:#8899A6}.usertwitt{color:#2b7bb9}.twittcontent{font-family:arial;background-color:#fff;white-space:normal;color:#1c2022;clear:left;margin-top:14px}.twittericon{color:grey;margin-left:15px}.iconcontainer{padding-left:25px}.twitterimg{border-radius:6px;margin-top:19px;margin-left:39px;float:left}.twitterusername{font-weight:700;font-family:arial;padding-top:15px;padding-left:15px;float:left}.twitternick{font-weight:500;color:grey;padding-top:3px}</style><script type="text/javascript">$('#twittertitle').keyup(function(){var keyed = $(this).val();$("#titletwtarget").html(keyed); });$('#twitterdescription').keyup(function(){var keyed = $(this).val();$("#twittdesc").html(keyed); })</script>
    {% if field.text %}
    {% endif %}

    {% if field.fields %}
        <div class="form-section {{ field.field_classes }}">
        {% for field in field.fields %}
            {% if field.type %}
                {% set value = data.value(field.name) %}
                {% include ["forms/fields/#{field.type}/#{field.type}.html.twig", 'forms/fields/text/text.html.twig'] %}
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}

{% endif %}