
{% if admin.route %}
    {% set context = admin.page(true) %}
{% endif %}
    {% if field.title or field.underline %}
    <h1 {% if not field.underline %}class="no_underline"{% endif %}>{% if grav.twig.twig.filters['tu'] is defined %}{{ field.title|tu }}{% else %}{{ field.title|t }}{% endif %}</h1>
    {% endif %}

    {% set context = admin.page(true) %}
   <div class="f-card">
  <div class="header">
    <div class="options"><i class="fa fa-chevron-down"></i></div>
    <img class="co-logo" src="{{ media['user://plugins/seo/assets/logofacebook.jpg'].resize(50, 50).url() }}" />
    <div class="co-name"><a href="#">Facebook Team</a></div>
    <div class="time"><a href="#">{{ page.date|date("j M, g:ia")}}</a> · <i class="fa fa-globe"></i></div>
  </div>
  <div class="facebookcontent">
    <p>Here is how this page will look when shared on facebook.</p>
  </div>

  <div class="reference">
    <img class="reference-thumb" id="liveimg" src="{% if context.header.facebookimg %}{{base_url_absolute}}{{context.header.facebookimg }} {% else %} {{context.media.images|first.url }}{% endif %}" />
    <div class="reference-content">
      <div class="reference-title" id="facebooktargtitle">{{ context.header.facebooktitle|default(context.header.title ~ " | " ~ site.title )}}</div>
      <div class="reference-subtitle" id="facebooktargdesc">{{ context.header.facebookdesc|default(context.summary|striptags) }}</div>
      <div class="reference-font">{{uri.host|replace({"http://": "","/":" › " }) }}</div>
    </div>
  </div>
  <div class="social">
    <div class="social-content"></div>
    <div class="social-buttons">
      <span><i class="fa fa-thumbs-up"></i>Like</span>
      <span><i class="fa fa-comment"></i>Comment</span>
      <span><i class="fa fa-share"></i>Share</span></div>
  </div>
</div>
<div id="fbcount" style="text-align:center"></div>
<style>

*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


.f-card {
  background-color:white;
  /*height:400px;*/
  width:502px;
  border: 1px solid #d0d1d5;
  border-radius:3px;
  margin: auto;
  margin-bottom:10px;
  padding: 12px; 
  
  box-shadow: 0 0 5px rgba(0, 0, 0, .30); /* Not original, just a test */
}

.header {
  margin-bottom:17px;
}

.co-logo {
  /*display:block;*/
  float:left;
  margin-right:8px;
  
  width:40px;
  height:40px;
}

.co-name > a {
  font-family: Helvetica;
  font-size:14px;
  font-weight: bold;
  line-height: 1.38;
  color: #365899;
  text-decoration:none;
  
  margin-bottom:2px;
}

.co-name > a:hover {
  text-decoration:underline;
}

.time {
  font-family: Helvetica;
  font-size:12px;
  color: #90949c;
}

.time > a {
  color: #90949c;
  text-decoration:none;
}

.time > a:hover {
  text-decoration:underline;
}

.options {
  font-family: Helvetica;
  font-size:12px;
  color: #e5e5e5;
  float:right;
}

.options:hover {
  color: black; /* Fallback */
  color: rgba(0, 0, 0, .30);
}

.content {
  clear:both;
  font-family: Helvetica, sans-serif;
  font-size:14px;
  line-height: 1.38;
}

.reference {
  width:476px;
}
.reference-thumb {
  display:block;
  width:476px;
  height:auto;
}

.reference-content {
  border: 2px solid black;
  border: 2px solid rgba(0, 0, 0, .1);
  border-top: 0;
  padding: 10px 12px 10px 12px;
}

.reference:hover .reference-content {
  border-color: black; /* Fallback */
  border-color: rgba(0, 0, 0, .15);
}

.reference-title {
  font-family: Georgia;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  
  margin-bottom:5px;
}

.reference-subtitle {
  font-family: Helvetica;
  font-size:12px;
  line-height: 16px; 
}

.reference-font {
  color: #90949c;
  font-family: Helvetica;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;

  padding-top:9px; 
}

.social {
  margin-top:12px;
}
.social-buttons {
  color: #7f7f7f;
  font-family: Helvetica;
  font-size: 12px;
  font-weight:bold;
  line-height:14px;
  
  border-top:1px solid #e5e5e5;
  padding-top:4px;
  
}

.social-buttons span {
  font-size: 12px;
  margin-right:20px;
  padding:4px 4px 4px 0;
}

.social-buttons span:hover {
  text-decoration:underline;
  cursor:pointer;
}

.social-buttons span i {
  padding-right:4px;
}</style>
<script type="text/javascript">
$('#facebooktitle').keyup(function(){
  var keyed = $(this).val();$("#facebooktargtitle").html(keyed); 
  
});$('#facebookdesc').keyup(function(){var keyed = $(this).val();$("#facebooktargdesc").html(keyed);
   $("#fbcount").text("Characters left: " + (300 - $(this).val().length));
});
$('#fbimgselect').on('click', function() {
   $('.js__media-element').on('click', function() {
      var valueselect = $(this).attr("data-file-url") ;
      var newimg = "{{ base_url_absolute }}" + valueselect ;
      $('#liveimg').attr("src", newimg);
   });
  
})

</script>
<script>
function validatepage() {
   var protocol = location.protocol;
 var slashes = protocol.concat("//");
 var host = slashes.concat(window.location.hostname);
 var structuredurl = "https://search.google.com/structured-data/testing-tool/u/0/#url="
 var targeturl = $("[title|='{{ 'PLUGIN_ADMIN.PREVIEW'|tu }}']").attr("href");
 var strippedurl = targeturl.replace("/admin/preview","");
 var validateurl = structuredurl + encodeURIComponent(host + strippedurl);
   window.open(validateurl, '_blank')
}

</script>
    {% if field.text %}
    {% endif %}

    {% if field.fields %}
        <div class="form-section {{ field.field_classes }}">
        {% for field in field.fields %}
            {% if field.type %}
                {% set value = data.value(field.name) %}
                {% include ["forms/fields/#{field.type}/#{field.type}.html.twig", 'forms/fields/text/text.html.twig'] %}
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}
