{% if admin.route %}
    {% set context = admin.page(true) %}
{% endif %}
{% set title = (context.header.title ?: context.title) %}
    {% if field.title or field.underline %}
    <h1 {% if not field.underline %}class="no_underline"{% endif %}>{% if grav.twig.twig.filters['tu'] is defined %}{{ field.title|tu }}{% else %}{{ field.title|t }}{% endif %}</h1>
    {% endif %}
             
    <div class="google-results-wrapper"> 
    <div class="content"> 
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/2000px-Google_2015_logo.svg.png" height="50"/>
    <div class="snippet"> <h3 class="title"> 
    <a href="#" id="target">{{ context.header.googletitle|default(context.title ~ " | " ~ site.title )}}</a> </h3>
    <div class="url-breadcrumb"><span style="color: #006621; font-size: normal; display: block;"> {{context.url(true)|replace({"//":"//", "/":" › " }) }} </span></div>
    <div class="description" id="resultdesc">{{ context.header.googledesc|default(context.summary|striptags|truncate(140)) }} </div>
    
    </div>
    </div>
    </div>
    <div id="googlecount" style="text-align:center"></div>
    
    <style> #resultdesc{max-width:80%;} @import url(https://fonts.googleapis.com/css?family=Roboto&subset=greek);.mobile .url-breadcrumb,.title{overflow:hidden;text-overflow:ellipsis}body{min-height:100vh;display:flex;flex-flow:column;font-family:arial,sans-serif}body.grey{background:#f2f2f2;} .content{margin: auto; background-color:#fff;}.google-results-wrapper{margin:auto auto 10px}.content{width:600px;padding:16px}.snippet{width:600px;margin-bottom:26px;box-sizing:border-box}.title{font-size:18px;margin:0;white-space:nowrap;max-width:550px}.title a{color:#1a0dab;font-weight:400;text-decoration:none}.title a:hover{cursor:pointer;text-decoration:underline}.url-breadcrumb{height:18px;margin:1px 0 0;line-height:16px;white-space:nowrap}.url-breadcrumb cite{font-size:14px;color:#006621;font-style:normal}.url-breadcrumb .arrow-down{display:inline-block;vertical-align:middle;width:13px;text-align:center}.url-breadcrumb .arrow-down:after{content:"";display:inline-block;border-color:#006621 transparent;border-width:5px 4px 0;border-style:solid;vertical-align:middle;margin:-2px 0 0}.microdata{color:grey;line-height:18px;font-size:13px}.microdata .stars-wrapper{margin:-4px 1px 0;width:65px;height:13px;display:inline-block;vertical-align:middle;background-position:0 50%;}.description{font-size:13px;color:#545454;line-height:1.4;word-wrap:break-word}.description em{color:#6a6a6a;font-weight:700;font-style:normal}.description .date{color:grey}.mobile{font-family:Roboto,sans-serif}.mobile.google-results-wrapper{background:#f2f2f2;padding:10px 8px;width:320px}.mobile .content{padding:0;width:100%}.mobile .snippet{font-size:14px;line-height:20px;width:auto;background-color:#fff;box-shadow:0 1px 2px rgba(0,0,0,.2);border-radius:2px;margin:0 0 10px;padding:11px 16px}.mobile .title{font-size:16px;white-space:normal}.mobile .url-breadcrumb{border-bottom:1px solid #ebebeb;line-height:20px;margin:0 -16px 9px;padding:0 16px 11px;white-space:nowrap}.mobile .description{color:#222}.mobile .description .date{color:#777}.toggler{margin:15px auto auto;font-family:Roboto,san-serif}.toggler a{color:#bbb}.toggler .desktop{color:#1a0dab}.toggler .mobile .desktop{color:#bbb}.toggler .mobile .mobile{color:#1a0dab}</style>
    
    <script type="text/javascript">$('#text').keyup(function(){
        var keyed = $(this).val();$("#target").html(keyed);
        
        
        });
        $('#desc').keyup(function(){
        var keyed = $(this).val();$("#resultdesc").html(keyed);
        $("#googlecount").text("Characters left: " + (140 - $(this).val().length));
        });
    

    </script>
    {% if field.text %}
    {{ field.text|raw }}
    {% endif %}

    {% if field.fields %}
        <div class="form-section {{ field.field_classes }}">
        {% for field in field.fields %}
            {% if field.type %}
                {% set value = data.value(field.name) %}
                {% include ["forms/fields/#{field.type}/#{field.type}.html.twig", 'forms/fields/text/text.html.twig'] %}
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}

